.avatarContact {
    background-color: #2196f3!important
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputText {
    width: 49%;
    margin-right: 15px !important;

    &:last-child {
        margin-right: 0!important;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}